<div class="m-auto flex flex-col justify-between items-center bg-white shadow-lg rounded-lg overflow-hidden max-w-4xl p-4 mt-4">
  <%= form_with model: customer, class: "w-full" do |form| %>
    <%= form.fields_for :user do |user_fields| %>
      <%# Formulário para os atributos do User %>

      <div class="w-100 flex flex-col gap-4" >
        <%# name %>
        <div class="sm:col-span-3">
          <%= user_fields.label :name, class: input_label  %>
          <div class="mt-2">
            <%= user_fields.text_field :name, class: input_text, placeholder: "Type the new customer name" %>
          </div>
        </div>

        <%# cpf %>
        <% if customer.new_record? %>
          <div class="sm:col-span-3">
            <%= user_fields.label :cpf, 'CPF', class: input_label %>
            <div class="mt-2">
              <%= user_fields.text_field :cpf, class: input_text, placeholder: "Type the new customer CPF wiht 11 digits" %>
            </div>
          </div>
        <% end%>

        <%# email %>
        <div class="sm:col-span-3">
          <%= user_fields.label :email, 'Email', class: input_label %>
          <div class="mt-2">
            <%= user_fields.text_field :email, class: input_text, placeholder: "Type the new customer email" %>
          </div>
        </div>

        <%# password %>
        <div class="sm:col-span-3">
          <%= user_fields.label :password, 'Password', class: input_label %>
          <div class="mt-2">
            <%= user_fields.password_field :password, class: input_text, placeholder: "Type the new customer password with 6 digits" %>
          </div>
        </div>
      <% end %>

      <%# Formulário para os atributos do Customer %>
      <div class="sm:col-span-3">
        <%=form.label :birthday, 'Birthday', class: input_label %>
        <div class="mt-2">
          <%=form.date_field :birthday, class: input_text %>
        </div>
      </div>

      <% if customer.new_record? %>

        <%# Formulário para os atributos do Address %>
        <%= form.fields_for :addresses do |address_fields| %>
          <h2 class="font-bold text-center mt-2">Address</h2>
          <div class="sm:col-span-3">
            <%= address_fields.label :public_place, 'Public Place', class: input_label %>
            <div class="mt-2">
              <%= address_fields.text_field :public_place, class: input_text %>
            </div>
          </div>

          <div class="sm:col-span-3">
            <%= address_fields.label :number, 'Number', class: input_label %>
            <div class="mt-2">
              <%= address_fields.text_field :number, class: input_text %>
            </div>
          </div>

          <div class="sm:col-span-3">
            <%= address_fields.label :neighborhood, 'Neighborhood', class: input_label %>
            <div class="mt-2">
              <%= address_fields.text_field :neighborhood, class: input_text %>
            </div>
          </div>

          <div class="sm:col-span-3">
            <%= address_fields.label :zip_code, 'Zip Code', class: input_label %>
            <div class="mt-2">
              <%= address_fields.text_field :zip_code, class: input_text %>
            </div>
          </div>

          <div class="sm:col-span-3">
            <%= address_fields.label :complement, 'Complement', class: input_label %>
            <div class="mt-2">
              <%= address_fields.text_field :complement, class: input_text %>
            </div>
          </div>
        <% end%>

      </div>

    <% end %>
    <% if customer.errors.any? %>
      <div class="text-red-700 text-xs w-48 pt-4">
        <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

        <ul class="pt-2">
          <% customer.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mt-6 flex items-center justify-center gap-x-6">
      <%= link_to "Cancel", customers_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
      <%= form.submit 'Save', class: btn_primary %>
    </div>
  <% end %>
</div>
