<% content_for :title do %>
  <span>
    Customers
  </span>
<% end %>

<% content_for :new_button do %>
  <%= link_to "New Customer", new_customer_path, class: btn_primary %>
<% end %>

<div id="customers" class="we-full overflow-hidden rounded-lg shadow-lg">
  <div class="w-full overflow-x-auto">
    <% if @customers.empty? %>
      <div class="p-4 text-zinc-800 bg-white flex justify-center">
        <strong>Sem resultados encontrado</strong>
      </div>
    <% else %>
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr class="w-full text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-100">
            <th class="p-4 divide-x">Name</th>
            <th class="p-4 divide-x">Email</th>
            <th class="p-4 divide-x">Actions</th>
          </tr>
        </thead>

        <tbody class="bg-white divide-y">
          <% @customers.each do |customer| %>
            <tr class="text-gray-700">
              <td class="px-8 py-3"><%= customer.user.name %></td>
              <td class="px-8 py-3"><%= customer.user.email %></td>
              <td class="py-3">
                <div class="flex space-x-2">
                  <%= link_to "More about", customer, class: btn_simple %>
                  <%= link_to "Edit", edit_customer_path(customer.id), class: btn_secondary %>
                  <%= button_to "Delete", customer_path(customer), method: :delete, data: { confirm: "Are you sure?", turbo_confirm: "Want delete this order?" }, class: btn_danger %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
